//
//  Local-Config.xcconfig
//  Whaler
//
//  Created by Zachary Rhodes on 3/31/21.
//  Copyright © 2021 Whaler. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SLASH=/
API_URL = http:$(SLASH)$(SLASH)127.0.0.1:8080
