//
//  Remote-Config-Copy.xcconfig
//  Whaler
//
//  Created by Zachary Rhodes on 4/21/21.
//  Copyright © 2021 Whaler. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SLASH=/
API_URL = https:$(SLASH)$(SLASH)getwhalergo.herokuapp.com
PRODUCT_BUNDLE_IDENTIFIER = com.whaler.app.copy
EXECUTABLE_PREFIX = "copy"
